html {
  scroll-behavior: smooth;
}

.bars {
  display: flex;
  height: auto;
  justify-content: center;
  margin-bottom: 2rem;
  // transform: rotate(180deg);
}

.array-bars {
  position: relative;
  margin: 0 1px;
  text-align: center;
  width: 50px;
  // transform: rotate(180deg);
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  margin: 1rem;
}

.array-bars.transition {
  transition: transform ease-in 0.1s;
  background-color: yellow !important;
}

.array-bars.compare {
  background-color: red !important;
}

.array-bars.placed {
  background-color: #7deb34 !important;
}

#childA {
  background-color: beige;
}

#childB {
  background-color: blue;
}

.visualize {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-top: 50px;
  &__algo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    &--arr {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      width: 20%;
      height: 3rem;
      background-color: brown;
      color: white;
      transition: 0.2s ease-in;
      &:hover {
        background-color: #590304 !important;
        cursor: pointer;
      }
    }
    &--sort {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      width: 20%;
      height: 3rem;
      background-color: chocolate;
      transition: 0.2s ease-in;
      color: white;
      &:hover {
        background-color: #9c4406 !important;
        cursor: pointer;
      }
    }
  }
}

button {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.code {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: auto;
  padding: 1rem;
  div {
    margin: 1rem;
    div {
      margin: 0;
    }
  }
}

.input {
  display: flex;
  &-size {
    text-align: center;
    margin: 1rem;
    h3 {
      margin: 0;
    }
    margin-bottom: 0.5rem;
  }
}

#visualiser {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
