.nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 4rem;
  background-color: bisque;
  &__select {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    text-align: right;
  }
  &__brand {
    width: 30%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__algo {
    display: flex;
    justify-content: space-evenly;
    width: 50%;

    div {
      padding: 1rem;
      transition: all 0.3s;
      height: 100%;
      // &:hover {
      //   cursor: pointer;
      //   background-color: black;
      //   color: white;
      // }
    }
    // &--arr {
    //   background-color: brown;
    //   color: white;
    //   &:hover {
    //     color: brown !important;
    //     background-color: white !important;
    //   }
    // }
    // &--sort {
    //   background-color: chocolate;
    //   color: white;
    //   &:hover {
    //     color: chocolate !important;
    //     background-color: white !important;
    //   }
    // }
    // &--sort-disabled {
    //   background-color: chocolate;
    //   color: white;
    //   &:hover {
    //     pointer-events: none;
    //     color: chocolate !important;
    //     background-color: white !important;
    //   }
    // }
  }
}

.quiz {
  width: 15%;
  height: 3rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: brown;
  text-decoration: none;
  &:nth-child(5) {
    width: 10%;
  }
  &:nth-child(6) {
    width: 10%;
  }
}

.active {
  background-color: greenyellow !important;
}
