.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: pink;
  &__brand {
    width: 30%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__algo {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    div {
      padding: 1rem;
      transition: all 0.3s;
      height: 100%;
      &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
      }
    }
    &--arr {
      background-color: brown;
      color: white;
      &:hover {
        color: brown !important;
        background-color: white !important;
      }
    }
    &--sort {
      background-color: chocolate;
      color: white;
      &:hover {
        color: chocolate !important;
        background-color: white !important;
      }
    }
  }
}

.active {
  background-color: greenyellow !important;
}
